.search-check-box {
  &.v-input--selection-controls {
    margin: 0;
    padding: 0;
    .v-input__slot {
      margin: 0 8px 0 0;
      .v-input--selection-controls__input {
        margin-right: 4px;
        .v-icon {
          font-size: 20px;
        }
        .v-input--selection-controls__ripple {
          display: none;
        }
      }
      >.v-label {
        font-size: 12px;
      }
    }
    .v-messages {
      display: none;
    }
  }
}