* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
  background: #fcfcfc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.v-application {
  font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
  .v-main__wrap {
    background: $bg-color;
  }
}

/* color */
.mcs-{
  &primary {
    background-color: $primary !important;
    color: #fff !important;
  }
  &secondary {
    background-color: $secondary !important;
  }
  &grey {
    background-color: $grey !important;
  }
  &text-{
    &primary {
      color: $primary !important;
    }
    &secondary {
      color: $secondary !important;
    }
    &grey {
      color: $grey !important;
    }
  }
}

.w5 { min-width: 5%; }
.w6 { min-width: 6%; }
.w7 { min-width: 7%; }
.w8 { min-width: 8%; }
.w9 { min-width: 9%; }
.w10 { min-width: 10%; }

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.f100p {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;   
}

.fixed-bottom-right {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.button-area {
  @include flex-end;
  button {
    @include list-margin-right(4px);
  }
}

.sub-title {
  padding: 0 0 10px 0;
  border-bottom: 1px solid $border-color;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0;
}

.main-logo {
  @include flex-center;
  height: 44px;
  img {
    height: 36px;
  }
  span {
    color: $primary;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  &.flex-column {
    flex-direction: column;
    span {
      margin-left: 0;
    }
  }
}

/* common area */
.search_area {
  margin-bottom: 20px;
  border-top: 1px solid $border-top-color;

  .search_table {
    width: 100%;
    background-color: #fff;
    border: 1px solid $border-color;

    tr {
      min-height: 37px;
    }

    th {
      font-size: 12px;
      background-color: $cell-header-color;
      text-align: right;
      padding: 9px;
      font-weight: 500;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

    td {
      border-bottom: 1px solid $border-color;
      padding: 0 5px;
      font-size: 14px;
    }
  }
}

.board_area {
  margin-bottom: 20px;
  border-top: 1px solid $border-top-color;

  .board_table {
    width: 100%;
    background-color: #fff;
    border: 1px solid $border-color;

    tr {
      min-height: 37px;
    }

    th {
      font-size: 12px;
      background-color: $cell-header-color;
      text-align: right;
      padding: 9px;
      font-weight: 500;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;

      .require {
        color: $require-color;
        &::before {
          content: '*';
          display: inline-block;
          margin-right: 2px;
          font-weight: 700;
        }
      }
    }

    td {
      border-bottom: 1px solid $border-color;
      padding: 0 5px;
      font-size: 14px;
    }
  }
}