.no-layout {
  width: 100%;
  height: 100%;
}

.appmgmt-layout {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1680px;
  .menu-open-btn {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 0 !important;
    width: 25px !important;
    min-width: auto !important;
    height: 90px !important;
    span {
      top: -5px;
      position: relative;
      display: inline-block;
      transform: rotate(90deg);
      font-size: 12px;
      .v-icon {
        position: absolute;
        font-size: 18px !important;
      }
    }
  }
  .sub-menu {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 25px;
    width: 220px !important;
    min-height: 100px;
    .menu-close-btn {
      width: 28px;
      height: 28px;
      min-width: auto !important;
      padding: 0;
      margin: 0;
      position: absolute;
      top: -10px;
      right: -10px;
      .v-icon {
        font-size: 20px !important;
      }
    }
    .sub-menu-list {
      .sub-menu-title {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: white;
        background: linear-gradient(45deg, #0277BD 1%, #0288D1 28%, #039BE5 53%, #29B6F6 75%, #4FC3F7 99%);
      }
    }
  }
  .section-header {
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h2 {
      position: relative;
      font-size: 18px;
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 8px;
        width: 100%;
        background: #81D4FA;
      }
    }
    p {
      font-size: 15px;
      margin: 0;
      span {
        margin-right: 3px;
        &::after {
          font-size: 10px;
          content: '>';
          margin: 0 3px;
        }
        &:last-child {
          margin-right: 0;
          &::after {
            content: '';
          }
        }
      }
    }
  }
  .section-body {
    min-height: calc(100% - 60px);
    padding: 20px 40px;
    border-top: 1px solid #EEEEEE;
  }
}

.template-layout {
  .section-body {
    min-height: calc(100% - 60px);
    display: flex;
    .section-left-side {
      min-width: 220px;
      padding-top: 20px;
      border-right: 1px solid #EEEEEE;
    }
    .section-content {
      min-width: 1560px;
      width: calc(100% - 220px);
      padding: 20px 40px;
    }
  }
}