.login-view {
  width: 450px;
  height: 450px;
  .login-form {
    width: 90%;
    margin: auto;
  }
}

.app-menu-select-view {
  height: 100%;
  padding: 25px;
  .v-card {
    transition: opacity .3s ease-in-out;
    cursor: pointer;
  }
  
  .v-card:not(.on-hover) {
    opacity: 0.6;
   }
}

.sub_container {
  .search_area {
    margin-bottom: 20px;
    border-top: 1px solid #2a2a2a;

    .search_table {
      width: 100%;
      background-color: #fff;
      border: 1px solid #ececec;

      .w5 {
        min-width: 5%;
      }

      tr {
        height: 37px;
      }

      th {
        font-size: 12px;
        background-color: #f8f8f8;
        text-align: right;
        padding: 9px;
        font-weight: 500;
        border-bottom: 1px solid #ececec;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
      }

      td {
        width: 10%;
        border-bottom: 1px solid #ececec;
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }
}