.grid_area {
  width: 100%;
  margin-bottom: 20px;
  .grid-header {
    margin-bottom: 8px;
    height: 24px;
    .v-icon {
      font-size: 20px;
      margin-right: 4px; 
    }
    span {
      font-size: 16px;
    }
  }
  .grid_button_area {
    @include flex-start;
    margin-top: 8px;
    background-color: #E1F5FE;
    height: 38px;
    border: 1px solid #B3E5FC;
    padding: 0 10px;
    .v-btn {
      @include list-margin-right(4px);
      &.white {
        background-color: #fafafa !important;
        border: 1px solid #eeeeee !important;
      }
    }
  }
}

.mcs-grid {
  border: 1px solid #ececec;
  border-top: 1px solid #2a2a2a;
  .v-data-table__wrapper {
    table {
      .v-data-table-header {
        tr {
          th {
            border-right: thin solid rgba(0, 0, 0, 0.12);
            &:last-child {
              border-right: none;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 12px !important;
            border-right: thin solid rgba(0, 0, 0, 0.12);
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.tui-grid-container {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
  .tui-grid-border-line-top {
    border-color: #2a2a2a;
  }
}